.col-md-6,.col-sm-6,.row{
	margin: 0 !important;
	padding: 0 !important;
}

body{
	padding: 5px;
	background-image: url(../img/dev/background.jpg);
}

header{
	width: 100%;
	background-color: #EEEEEE;
}

header h1:before{
    content: url('../img/dev/pointer.svg');
}

.log-panel{
	display: inline-block;
	float: right;
	padding: 5px;
}

.title{
	display: block;
	text-align: center;
	color: #a67e4a;
	text-transform: uppercase;
	font-family: Bebasneue;
	font-size: 36px;
}

.title:before{
    content: url('../img/dev/pointer.svg');
}

a:hover{
	text-decoration: none;
}

.title:hover{
	color: #a67e4a;
}

.auth input {
	margin: 0 !important;
	width: 90px;
	height: 20px;
	border-radius: 5px;
}

.name{
	font-size: 20px;
}

.name:before{
	content: "Здравствуйте, ";
	font-size: 14px;
}

.create-add, button{
	display: block;
}

.create-add, button, .edit-butt{
	width: 100%;
	background-color: #a67e4a;
	border: 1px solid black;
	border-radius: 5px;
	color: white;
	text-align: center;
}

.create-add:hover, .edit-butt:hover{
	color: white;
}

section{
	margin-top: 60px !important;
	width: 800px;
	margin: 0 auto;
}

@media (max-width:767px) {
	.auth input, .auth button{
		width: 100%;
	}
	
	.log-panel{
		width:100%;
	}
	
	section{
		width: 100%;
	}
}

@font-face {
  font-family: 'Bebasneue';
  src: url('../fonts/bebasneue.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}